.Pokedex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em;

  .Search {
    display: flex;
    align-items: center;

    input {
      font-size: 20px;
      padding: 0.5em;
      margin-right: 0.5em;
    }

    span {
      color: rgb(128, 128, 128);
    }
  }

  .Pagination {
    width: 100%;
    margin-top: 2em;
    display: flex;
    justify-content: center;

    .btn-primary {
      display: block;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      color: #df807e;
      width: 8em;
      padding: 0.75em;
      background-color: white;
      border: 5px solid #df807e;
      border-radius: 10px;
      margin-right: 1em;
      cursor: pointer;
      transition: transform 0.25s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
